<table style="border-style: solid; width: 80%">
    <thead>
        <tr><th colspan="2">{{ movie.name }}</th></tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2">
            Posted by <a href="{{ url_for('user', username=movie.submitted_by.username) }}">
            {% if movie.submitted_by.username == current_user.username %}You{%  else %}{{ movie.submitted_by.username }}{% endif %}</a>
                {{ movie.date_added | timesince }}
            </td>
        </tr>
        <tr><td colspan="2">{{ movie.description }}</td></tr>
    </tbody>
    <tfoot>
        <tr>
            {%  if movie.submitted_by.username == current_user.username %}
                <td style="text-align: left">
                    {{ movie.number_of_likes | number_of_votes('likes', movie.id) }}|
                    {{ movie.number_of_hates | number_of_votes('hates', movie.id) }}
                </td>
            {% else %}
                {%  if current_user in movie.liked_by %}
                    <td style="text-align: left">
                        {{ movie.number_of_likes | number_of_votes('likes', movie.id) }} |
                        <a href="{{ [url_for('vote', username=current_user.username), '?movie_id=', movie.id ,'&vote_type=hate']|join("") }}">
                            {{ movie.number_of_hates | number_of_votes('hates', movie.id) }}
                        </a>
                    </td>
                    <td style="text-align: right">
                        You like this movie|
                        <a href="{{ [url_for('vote', username=current_user.username), '?movie_id=', movie.id ,'&vote_type=like&remove_vote=yes']|join("") }}">
                            Unlike
                        </a>
                    </td>
                {% elif current_user in movie.hated_by %}
                    <td style="text-align: left">
                        <a href="{{ [url_for('vote', username=current_user.username), '?movie_id=', movie.id ,'&vote_type=like']|join("") }}">
                            {{ movie.number_of_likes | number_of_votes('likes', movie.id) }}
                        </a> |
                        {{ movie.number_of_hates | number_of_votes('hates', movie.id) }}
                    </td>
                    <td style="text-align: right">
                        You hate this movie|
                        <a href="{{ [url_for('vote', username=current_user.username), '?movie_id=', movie.id ,'&vote_type=hate&remove_vote=yes']|join("") }}">
                            Unhate
                        </a>
                    </td>
                {% elif not current_user.is_anonymous %}
                    <td style="text-align: left">
                    <a href="{{ [url_for('vote', username=current_user.username), '?movie_id=', movie.id ,'&vote_type=like']|join("") }}">
                        {{ movie.number_of_likes | number_of_votes('likes', movie.id) }}
                    </a>
                        |
                    <a href="{{ [url_for('vote', username=current_user.username), '?movie_id=', movie.id ,'&vote_type=hate']|join("") }}">
                        {{ movie.number_of_hates | number_of_votes('hates', movie.id) }}
                    </a>
                    </td>
                    <td style="text-align: right"></td>
                {% endif %}
            {% endif %}
        </tr>
    </tfoot>
</table>