<html>
    <head>
        <style>
            table {text-align: left}
            tbody {font-size: small}
            tfoot {font-size: small}
        </style>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Welcome to MovieRama</title>
        {% endif %}
    </head>
    <body>
        <table width="80%">
            <tr>
                <td style="text-align: left">
                    <p style="font-size: large"><a href="{{ url_for('index') }}">MovieRama</a> </p>
                </td>
                <td style="text-align: right">
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}">Login</a>
                {% else %}
                    Welcome back <a href="{{ url_for('user', username=current_user.username) }}">{{ current_user.username }}</a> -
                    <a href="{{ url_for('logout') }}">Logout</a>
                    <a href="{{ url_for('add_movie') }}">Add Movie</a>
                {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul style="color: red;">
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% block content %}{% endblock %}
                </td>
            </tr>
        </table>
    </body>
</html>