{% extends "base.html" %}


{% block content %}
    <table width="100%">
        <tr>
            <td colspan="2" style="background-color: #cccccc">Sort by:
                {%  if request.args.get('order') == 'desc' %}
                    <a href="{{ request.url_rule.endpoint }}?sort_by=like&order=asc">Likes</a>|
                    <a href="{{ request.url_rule.endpoint }}?sort_by=hate&order=asc">Hates</a>|
                    <a href="{{ request.url_rule.endpoint }}?sort_by=date&order=asc">Date</a>
                {% else %}
                    <a href="{{ request.url_rule.endpoint }}?sort_by=like&order=desc">Likes</a>|
                    <a href="{{ request.url_rule.endpoint }}?sort_by=hate&order=desc">Hates</a>|
                    <a href="{{ request.url_rule.endpoint }}?sort_by=date&order=desc">Date</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% for movie in movies %}
                    {% include '_movie.html' %}
                {% endfor %}
            </td>
        </tr>
    </table>
{% endblock %}