{% extends "base.html" %}

{% block content %}
    <h1>Movies added by {{ user.username }}</h1>
    <hr>
    <table width="80%">
    <tr><td>{% for movie in movies %}
        {% include '_movie.html' %}
    {% endfor %}</td></tr>
    </table>

{% endblock %}